/* link fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Ubuntu";
  font-style: normal;
}

body {
  background-color: black;
}

.container {
  max-width: 1291px;
  width: 100%;
  margin: 0 auto;
}

.category-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 86.4px;
  color: #fff;
  margin-top: 150px;
}

@media screen and (max-width: 750px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Ubuntu";
    font-style: normal;
  }
  body {
    background-color: black;
  }
  .container {
    max-width: 750px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .category-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
    color: #fff;
    margin-top: 80px;
  }
}
/*
down not good code, i don't know why this class not correct work in category.scss
*/
.header {
  margin-top: 10px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 21px;
     -moz-column-gap: 21px;
          column-gap: 21px;
}
.header__adress p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
.header__adress-locate-ipad {
  display: none;
}
.header__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.header__number p {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}
.header__number-icon-ipad {
  display: none;
}

@media screen and (max-width: 750px) {
  .header {
    margin-top: 20px;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 13px;
       -moz-column-gap: 13px;
            column-gap: 13px;
  }
  .header__adress p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
  }
  .header__adress-locate {
    display: none;
  }
  .header__adress-locate-ipad {
    display: contents;
  }
  .header__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .header__number p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }
  .header__number-icon {
    display: none;
  }
  .header__number-icon-ipad {
    display: contents;
  }
}
.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/img/portrait-male-boxer-posing 1.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  margin-top: 30px;
  padding-top: 85px;
}
.sign__pretitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
  max-width: 330px;
}
.sign__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  color: #fff;
  -webkit-column-gap: 74px;
     -moz-column-gap: 74px;
          column-gap: 74px;
  margin: 154px 0px 197px;
}
.sign__aftertitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 493px;
     -moz-column-gap: 493px;
          column-gap: 493px;
}
.sign__bottom {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  max-width: 410px;
}
.sign__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 40px;
  width: 277px;
  border-radius: 0px 20px 20px 0px;
  -webkit-column-gap: 54px;
     -moz-column-gap: 54px;
          column-gap: 54px;
  background: #F9BA50;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
}
.about__img {
  margin-right: 150px;
}
.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__title {
  font-weight: 700;
  font-size: 61px;
  line-height: 86.4px;
  color: #FFFFFF;
  margin-bottom: 60px;
}
.about__description-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 30.6px;
  color: #fff;
  margin-bottom: 80px;
}
.about__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 40px;
  width: 277px;
  border-radius: 0px 20px 20px 0px;
  -webkit-column-gap: 54px;
     -moz-column-gap: 54px;
          column-gap: 54px;
  background: #F9BA50;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}
.about__img-absolute {
  position: absolute;
  border: solid #fff;
  border-radius: 250px;
  padding: 18px;
  left: 400px;
  top: 1561px;
}

.trainers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 263px;
}
.trainers__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 86.4px;
  color: #fff;
}
.trainers__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-top: 100px;
}
.trainers__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("/img/Rectangle 23.png");
  min-height: 580px;
  background-repeat: no-repeat;
  margin-right: 30px;
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
  color: #fff;
}
.trainers__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/img/Rectangle 25.png");
  background-repeat: no-repeat;
}
.trainers__description-block-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
  color: #fff;
}
.trainers__description-block-two {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 50px;
  line-height: 57.6px;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #fff;
  margin-top: 100px;
}
.category__one {
  min-width: 480px;
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.one {
  background-image: url("/img/Rectangle 27.png");
  background-repeat: no-repeat;
  background-position: center;
}

.two {
  background-image: url("/img/Rectangle 28.png");
  background-repeat: no-repeat;
  background-position: center;
}

.three {
  background-image: url("/img/Rectangle 26.png");
  background-repeat: no-repeat;
  background-position: center;
}

.four {
  background-image: url("/img/Rectangle 29.png");
  background-repeat: no-repeat;
}

.timetabble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
}
.timetabble__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 86.4px;
  color: #fff;
}
.timetabble__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 100px;
}
.timetabble__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #17171A;
  max-width: 410px;
  max-height: 540px;
}
.timetabble__card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.timetabble__card-head-howmuch {
  font-weight: 700;
  font-size: 36px;
  line-height: 43.2px;
  color: #fff;
}
.timetabble__card-head-howmuchInWeek {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #fff;
  margin-left: 110px;
  margin-right: 30px;
}
.timetabble__card-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  margin-left: 30px;
  margin-bottom: 60px;
}
.timetabble__card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.timetabble__card-price__newprice {
  font-weight: 700;
  font-size: 36px;
  line-height: 43.2px;
  color: #fff;
}
.timetabble__card-price__oldprice {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #fff;
  text-decoration: line-through;
  margin-left: 113px;
  margin-right: 30px;
}
.timetabble__card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 40px;
  width: 277px;
  border-radius: 0px 20px 20px 0px;
  -webkit-column-gap: 54px;
     -moz-column-gap: 54px;
          column-gap: 54px;
  background: #F9BA50;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin-left: 30px;
  margin-bottom: 40px;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.instagram__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 86.4px;
  color: #fff;
  margin-top: 150px;
  margin-bottom: 100px;
}
.instagram__photo-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.instagram__photo-cards__card {
  max-width: 410px;
  max-height: 410px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
  gap: 149px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__social-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 43px;
}
.footer__social-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}
.footer__social-politics {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 44px;
}
.footer__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}
.footer__category-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.footer__category-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-top: 63px;
}
.footer__category-about {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #fff;
}
.footer__category-trainers {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #fff;
}
.footer__category-direction {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #fff;
}
.footer__category-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #fff;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}
.footer__contacts-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 63px;
}
.footer__contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.footer__contacts-block-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer__contacts-block-number-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 13.79px;
  color: #F9BA50;
}
.footer__contacts-block-number-number {
  font-weight: 700;
  font-size: 18px;
  line-height: 20.68px;
  color: #fff;
}
.footer__contacts-block-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer__contacts-block-email-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 13.79px;
  color: #F9BA50;
}
.footer__contacts-block-email-email {
  font-weight: 700;
  font-size: 18px;
  line-height: 20.68px;
  color: #fff;
}
.footer__contacts-block-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer__contacts-block-adress-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 13.79px;
  color: #F9BA50;
}
.footer__contacts-block-adress-adress {
  font-weight: 700;
  font-size: 18px;
  line-height: 20.68px;
  color: #fff;
}
.footer__contacts-adress {
  font-weight: 700;
  font-size: 18px;
  line-height: 20.68px;
  color: #fff;
  margin-top: 36px;
  margin-bottom: 139px;
}