.trainers{
    display: flex;
    flex-direction: column;
    margin-top: 263px;

    &__title{
        @include text(700, 72px, 86.4px, #fff);
    }
    &__about{
        display: flex;
        align-items: end;
        margin-top: 100px;
    }
    &__name{
        display: flex;
        background-image: url("/img/Rectangle\ 23.png");
        min-height: 580px;
        background-repeat: no-repeat;
        margin-right: 30px;
        @include text(700, 64px, 76.8px, #fff);
    }
    &__description{
        display: flex;
        flex-direction: column;
        background-image: url("/img/Rectangle\ 25.png");
        background-repeat: no-repeat;
        
        &-block-one{
            display: flex;
            @include text(700, 64px, 76.8px, #fff);
        }
        &-block-two{
            @include text(500, 18px, 27px, #fff);
        }
    }
}